.page-content .main-menu {
    box-shadow: 0px 0px 10px 5px #ff0000;
  }

.page-content {
        box-shadow: 0px 0px 10px 5px #ff0000;
}

.lmpixels-arrows-nav {
    box-shadow: 0px 0px 10px 5px #ff0000;
}